* {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  font-family: "IBM Plex Mono", monospace;
  box-sizing: border-box;
  margin: 10px 30px;
  background-color: rgb(241, 241, 241);
}
.container {
  width: 100%;
  height: auto;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  border-radius: 7px;
  width: 100%;
  height: auto;
  padding: 1rem;
  margin-top: 1rem;
  background-color: white;
  border: 1px solid black;
  box-shadow: 3px 3px 0px 0px black;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
.content {
  width: 100%;
  height: auto;
}

.content {
  display: flex;
  justify-content: start;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  padding: 1rem 1rem;
  margin-top: 1rem;
  border-radius: 7px;
  font-size: 1.3rem;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  box-shadow: 3px 3px 0px 0px black;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
.title-content-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: 1rem;
  margin-right: 1rem;
  font-size: xx-large;
  font-weight: 600;
  border-right: 2px solid black;
}
