* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fbf4f4;
  box-sizing: border-box;
  font-family: "IBM Plex Mono", monospace;
  margin: 1px 6px 0px 6px;
}

.container {
  width: 100%;
  height: 99vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/************************************************/
/*********************HEAD *********************/
/************************************************/

.navbar {
  width: 100%;
  height: 15%;
  background-color: #eaad7b;
  box-shadow: 5px 5px 1px -1px rgb(0, 0, 0);
  border: 1px solid black;
  border-radius: 10px;
  box-sizing: border-box;
}

.wrapper-navbar {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.wrapper-navbar li {
  display: block;
  align-items: center;
  padding: 10px;
  margin: 20px;
  color: rgb(23, 60, 59);
  background-color: #72dbc8;
  box-shadow: 6px 6px 1px -1px rgb(0, 0, 0);
  border: 1px solid black;
  border-radius: 10px;
}
.wrapper-navbar li:nth-child(1) {
  background-color: #dfdf90;
}

.wrapper-navbar li:hover {
  cursor: pointer;
}

/************************************************/
/****************BODY******************/
/************************************************/

.wrapper-content {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 85%;
}

/* ***************HOME PAGE**************** */

.home-page {
  box-shadow: 10px 10px 1px -1px rgb(0, 0, 0);
  border: 1px solid black;
  border-radius: 10px;
  background-color: #ed8585;
  color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
  height: auto;
}

.home-page > div {
  margin: 20px;
  line-height: 30px;
}

.home-page h6 a {
  color: #052357;
  cursor: pointer;
}

.home-page img {
  height: 350px;
  width: auto;
}

/* ***********************ABOUT PAGE********************* */

.about-page {
  box-shadow: 10px 10px 1px -1px rgb(0, 0, 0);
  border: 1px solid black;
  border-radius: 10px;
  color: black;
  display: none;
  width: 75%;
  height: auto;
  padding: 70px 30px 70px 30px;
  overflow: auto;
  background-color: #e7e787;
}

/* ******************SKILL PAGE************************** */

.skill-page {
  box-shadow: 10px 10px 1px -1px rgb(0, 0, 0);
  border: 1px solid black;
  border-radius: 10px;
  width: 75%;
  height: auto;
  display: none;
  width: auto;
  padding: 10px;
  background-color: #91ea85;
}

.skill-page ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 20%;
}

.skill-page ul li {
  color: black;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #e8af81;
  box-shadow: 6px 6px 1px -1px rgb(0, 0, 0);
  border: 1px solid black;
  border-radius: 10px;
  box-sizing: border-box;
  width: 70px;
  height: 70px;
}
.skill-page ul li:hover {
  cursor: pointer;
}

.skill-page img {
  width: 35px;
  height: auto;
}

/* ******************PROJECT PAGE************************** */

.project-page {
  box-shadow: 10px 10px 1px -1px rgb(0, 0, 0);
  border: 1px solid black;
  border-radius: 10px;
  color: black;
  display: none;
  width: 75%;
  height: auto;
  padding: 70px 40px 70px 40px;
  background-color: #a1b6f8;
}

.project-page ul {
  margin: 1px 30px;
}

.project-page ul li {
  font-size: xx-large;
}

/* ******************CONTACT PAGE************************** */

.contact-page {
  box-shadow: 10px 10px 1px -1px rgb(0, 0, 0);
  border: 1px solid black;
  border-radius: 10px;
  width: 75%;
  height: auto;
  display: none;
  padding: 10px;
  background-color: #d86fd7;
}

.contact-page ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 20%;
}

.contact-page ul li {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  margin: 20px;
  padding: 20px;
  gap: 5px;
  background-color: #eaca78;
  box-shadow: 6px 6px 1px -1px rgb(0, 0, 0);
  border: 1px solid black;
  border-radius: 10px;
  box-sizing: border-box;
  width: 70px;
  height: 70px;
}

.contact-page ul li:hover {
  cursor: pointer;
}

.contact-page img {
  width: 35px;
  height: auto;
}

.coba {
  display: block;
  text-align: center;
  font-size: 1em;
  position: absolute;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  background-color: #2cf31200;
  text-decoration: none;
}
/****************************************/
/****************************************/
/****************************************/
/****************************************/
/****************************************/
/****************************************/
/****************************************/
/****************************************/
/******************##********************/
/****************************************/
/****************************************/
/****************************************/
/****************************************/
/****************************************/
/****************************************/
/****************************************/
/****************************************/
/****************************************/

@media screen and (max-width: 770px) {
  .container {
    width: 96vw;
    display: flex;
  }

  /************************************************/
  /*********************HEAD **********************/
  /************************************************/

  .wrapper-navbar {
    width: 100%;
  }

  .wrapper-navbar li {
    margin: 15px;
  }

  /************************************************/
  /****************BODY****************************/
  /************************************************/

  /* ***************HOME PAGE**********************/

  .home-page {
    box-shadow: 8px 8px 1px -1px rgb(0, 0, 0);
    position: absolute;
    width: 80%;
  }

  .home-page > div {
    margin-right: -6px;
  }

  /************************ABOUT PAGE**********************/

  .about-page {
    box-shadow: 8px 8px 1px -1px rgb(0, 0, 0);
    position: absolute;
    padding: 30px;
    overflow: auto;
  }

  /*******************SKILL PAGE***************************/

  .skill-page {
    box-sizing: border-box;
    width: 90%;
  }

  .skill-page ul li {
    margin: 10px;
  }
  /* ******************PROJECT PAGE************************** */

  .project-page {
    padding: 30px;
  }
  .project-page ul li {
    font-size: x-large;
  }

  /* ******************CONTACT PAGE************************** */

  .contact-page {
    box-sizing: border-box;
    width: 90%;
  }

  .contact-page ul li {
    margin: 10px;
    position: relative;
    height: auto;
  }
}
/****************************************/
/****************************************/
/****************************************/
/****************************************/
/****************************************/
/****************************************/
/****************************************/
/****************************************/
/******************##********************/
/****************************************/
/****************************************/
/****************************************/
/****************************************/
/****************************************/
/****************************************/
/****************************************/
/****************************************/
/****************************************/
@media screen and (max-width: 579px) {
  .container {
    width: 96.5vw;
  }

  /************************************************/
  /*********************HEAD *********************/
  /************************************************/

  .wrapper-navbar {
    width: 100%;
    justify-content: space-evenly;
    padding-right: 1px;
  }

  .wrapper-navbar li {
    padding: 8px 1% 8px 1%;
    margin: 1%;
    box-shadow: 5px 5px 1px -1px rgb(0, 0, 0);
  }

  /************************************************/
  /****************BODY******************/
  /************************************************/

  /* ***************HOME PAGE**************** */

  .home-page {
    box-shadow: 8px 8px 1px -1px rgb(0, 0, 0);
    position: absolute;
    width: 80%;
  }

  .home-page > div {
    margin: 6%;
  }
  .home-page img {
    display: none;
  }

  /************************ABOUT PAGE*********************/

  .about-page {
    box-shadow: 8px 8px 1px -1px rgb(0, 0, 0);
    border-radius: 10px;
    position: absolute;
    padding: 30px;
  }

  /* ******************SKILL PAGE************************** */

  .skill-page {
    box-sizing: border-box;
    width: 90%;
  }

  .skill-page ul li {
    margin: 10px;
    box-shadow: 6px 6px 1px -1px rgb(0, 0, 0);
  }

  /* ******************PROJECT PAGE************************** */

  .project-page {
    padding: 30px;
  }

  .project-page ul li {
    font-size: x-large;
  }

  /* ******************CONTACT PAGE************************** */

  .contact-page {
    box-sizing: border-box;
    width: 90%;
  }

  .contact-page ul li {
    margin: 10px;
    position: relative;
  }
}
